<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head(page_title)">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="'Instamation • ' + ${page_title}">Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">    <!--<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet"/>-->
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link rel="icon" th:href="@{/assets/images/favi.png}"/>

    <!--Mouseflow-->
    <script type="text/javascript">
      window._mfq = window._mfq || [];
      (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/6c577509-f675-4d4c-a8f5-386c7650ada3.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119141225-1"></script>
        <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119141225-1');
    </script>


</head>
<body>

<!--#############################################NAVIGATION-LOGGED-IN#############################################-->

<nav th:fragment="navigation-in" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="navbar navbar-expand-lg navbar-light bg-light py-4 shadow-sm border-bottom mb-3">
    <div class="container">

        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/assets/images/logo.png}" class="img-fluid" style="max-height: 30px;" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbar">
            <ul class="navbar-nav mr-auto mx-auto">

                <li class="nav-item">
                    <a class="nav-link font-weight-500" th:classappend="${activeNav == 'home'} ? 'active text-primary' : ''" th:href="@{/}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-500" th:classappend="${activeNav == 'faq'} ? 'active text-primary' : ''" th:href="@{/faq}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-500" th:classappend="${activeNav == 'contact'} ? 'active text-primary' : ''" th:href="@{/contact}">Support</a>
                </li>

                <div class="d-block d-lg-none mb-3">
                    <li class="nav-item">
                        <a class="nav-link font-weight-500" href="#" data-toggle="modal" data-target="#user-settings-modal">User Settings</a>
                    </li>
                    <li class="nav-item">
                        <form class="" th:action="@{/logout}" method="post">
                            <a class="nav-link font-weight-500 logout" ref="javascript:;" onclick="parentNode.submit();">Logout</a>
                        </form>
                    </li>
                </div>

            </ul>

            <div class="d-lg-flex">
                <button class="btn btn-primary btn font-weight-500" data-toggle="modal" id="add-account-nav" data-target="#addAccount">Add account</button>

                <div class="dropdown mt-1 mt-lg-0 d-none d-lg-block ml-3">
                    <a href="" class="dropdown-toggle d-none d-lg-block" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img th:src="@{/assets/images/navi.png}" class="img-fluid" style="max-width:45px" alt=""/>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item text-secondary font-weight-500" href="#" data-toggle="modal" data-target="#user-settings-modal">User Settings</a>
                        <form th:action="@{/logout}" method="post">
                            <a class="dropdown-item text-secondary font-weight-500 logout" ref="javascript:;" onclick="parentNode.submit();">Logout</a>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="user-settings-modal" tabindex="-1" role="dialog" aria-labelledby="user-settings-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <div class="text-center w-100">
                        <h5 class="modal-title" id="exampleModalLabel">User Settings</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p class="text-secondary">Update your user account's settings</p>
                </div>

                <form th:action="@{/user/update}" class="mx-3" method="post" th:object="${updateUser}">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}"/>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}"/>
                    </div>

                    <div class="form-group">
                        <label for="update-email">Email</label>
                        <input type="email" class="form-control" id="update-email" th:field="*{email}"/>
                    </div>

                    <label for="newPassword">New Password</label>
                    <div class="input-group">
                        <input type="password" id="newPassword" class="form-control" th:field="*{password}"/>
                        <div class="eye-pass input-group-append"  onclick="passHide()">
                            <span class="input-group-text" id="basic-addon2">
                                <i id="eye" class="oi oi-eye form-control-feedback">Show</i>
                            </span>
                        </div>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">Leave empty if you do not want to change.</small>

                    <div class="modal-footer px-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="layouts/layout :: add-account"></div>

</nav>


<!--#############################################NAVIGATION-LOGGED-OUT#############################################-->

<nav th:fragment="navigation-out" sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="navbar navbar-expand-lg navbar-light bg-light py-4 shadow-sm border-bottom mb-3">
    <div class="container">

        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/assets/images/logo.png}" class="img-fluid" style="max-height: 30px;" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbar">
            <ul class="navbar-nav mx-auto mb-3 mb-lg-0">


                <li class="nav-item">
                    <a class="nav-link font-weight-500" th:classappend="${activeNav == 'home'} ? 'active text-primary' : ''" th:href="@{/}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link font-weight-500" th:classappend="${activeNav == 'pricing'} ? 'active text-primary' : ''" th:href="@{/pricing}">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-500" th:classappend="${activeNav == 'faq'} ? 'active text-primary' : ''" th:href="@{/faq}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-500" th:classappend="${activeNav == 'contact'} ? 'active text-primary' : ''" th:href="@{/contact}">Contact</a>
                </li>

            </ul>

            <div class="d-lg-flex">
                <a th:href="@{/signup}" role="button" class="btn btn-success mr-2">Start your free trial</a>
                <a th:href="@{/login}" role="button" class="btn btn-outline-primary">Login</a>
            </div>

        </div>
    </div>

</nav>

<!--#############################################ADD-ACCOUNT#############################################-->

<!-- Modal -->
<div th:fragment="add-account" class="modal fade" id="addAccount" tabindex="-1" role="dialog" aria-labelledby="addAccountLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Instagram Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p class="font-weight-500 text-left mb-1">Your account's security is our top priority</p>
                <p class="text-secondary text-left">We will not store your password. The password is required to establish connection with Instagram.</p>

                <p class="font-weight-500 text-left mb-2">Login information</p>

                <div id="add-account-error"></div>

                <form id="add-account-form">
                    <input type="text" class="form-control mb-2" id="username" placeholder="Enter Instagram Username (not email)" required="required"/>
                    <input type="hidden" id="userid" th:value="${updateUser.id}"/>
                    <div class="input-group">
                        <input type="password" id="password" class="form-control" placeholder="Enter Instagram Password" required="true"/>
                        <div class="eye-pass input-group-append"  onclick="passHide2()">
                            <span class="input-group-text">
                                <i id="eye2" class="oi oi-eye form-control-feedback">Show</i>
                            </span>
                        </div>
                    </div>
                    <!--<input type="submit" id="add-account" class="d-none"/>-->
                </form>
            </div>
            <div class="modal-footer">
                <label id="add-account-submit" class="btn btn-primary m-0 btn-block font-weight-500" role="button">Add Account</label>
            </div>
        </div>
    </div>
</div>

<!--#############################################PRICING#############################################-->

<div th:fragment="pricing" class="container mt-4 mb-5 box py-5 shadow">
    <h2 class="text-center mb-4">Simple pricing</h2>
    <p class="text-center mb-0">Get started for free! Pricing is per account.</p>
    <p class="text-center mb-5">Receive 3 days for free!</p>

    <div class="row">

        <div class="col-12 col-lg-6 px-3 px-md-5 mb-5">

            <a th:href="@{/signup}">
                <div class="box bg-light shadow-sm mx-3 mx-md-5 mx-lg-4">

                    <h3 class="p-3 text-center mb-0 text-primary border-bottom">7 Days</h3>

                    <div class="bg-white text-center">
                        <div class="py-3">
                            <p class="mb-0 py-2 font-weight-500">3 day free trial</p>
                            <p class="mb-0 py-2 font-weight-500">Unlimited Actions</p>
                            <p class="mb-0 py-2 font-weight-500">Auto Liker</p>
                            <p class="mb-0 py-2 font-weight-500">Auto Follower</p>
                            <p class="mb-0 py-2 font-weight-500">Auto Commenter</p>
                            <p class="mb-0 py-2 font-weight-500">Auto Unfollow</p>
                            <p class="mb-0 py-2 font-weight-500">Hashtag Targeting</p>
                            <p class="mb-0 py-2 font-weight-500">User Targeting</p>
                            <p class="mb-0 py-2 font-weight-500">Manage Multiple Accounts</p>
                        </div>
                    </div>

                    <div class="text-center p-3 border-top">
                        <p class="h1 text-primary mb-0">$10<span class="h5 pl-2">per week</span></p>
                    </div>

                </div>
            </a>

        </div>

        <div class="col-12 col-lg-6 px-3 px-md-5 mb-5">

            <a th:href="@{/signup}">
                <div class="box bg-light shadow-sm mx-3 mx-md-5 mx-lg-4">

                    <h3 class="p-3 text-center mb-0 text-success border-bottom">30 Days</h3>

                    <div class="bg-white text-center">
                        <div class="py-3">
                            <p class="mb-0 py-2 font-weight-500">3 day free trial</p>
                            <p class="mb-0 py-2 font-weight-500">Unlimited Actions</p>
                            <p class="mb-0 py-2 font-weight-500">Auto Liker</p>
                            <p class="mb-0 py-2 font-weight-500">Auto Follower</p>
                            <p class="mb-0 py-2 font-weight-500">Auto Commenter</p>
                            <p class="mb-0 py-2 font-weight-500">Auto Unfollow</p>
                            <p class="mb-0 py-2 font-weight-500">Hashtag Targeting</p>
                            <p class="mb-0 py-2 font-weight-500">User Targeting</p>
                            <p class="mb-0 py-2 font-weight-500">Manage Multiple Accounts</p>
                        </div>
                    </div>

                    <div class="text-center p-3 border-top">
                        <p class="h1 text-success mb-0">$20<span class="h5 pl-2">per month</span></p>
                    </div>

                </div>
            </a>

        </div>

    </div>


    <!--#####################START FREE TRIAL############################-->

    <div class="text-center mb-4">
        <a th:href="@{/signup}" class="btn btn-success font-weight-500 px-5 py-3" role="button">
            Start your FREE trial!
        </a>
    </div>
</div>


<!--#############################################PRICING UPGRADE#############################################-->

<div th:fragment="pricing-upgrade">
    <div class="row">

        <div class="col-12 col-lg-6 mb-5">

                <div class="box bg-light shadow-sm">

                    <div class="p-3 border-bottom ">
                        <p class="text-center mb-0 font-weight-500 text-primary">7 Days</p>
                        <h2 class="text-primary">$10/week</h2>
                    </div>


                    <div class="bg-white text-center pb-4 px-4">
                        <div class="py-3">
                            <p class="mb-0 py-1 font-weight-500">3 day free trial</p>
                            <p class="mb-0 py-1 font-weight-500">Unlimited Actions</p>
                            <p class="mb-0 py-1 font-weight-500">Auto Liker</p>
                            <p class="mb-0 py-1 font-weight-500">Auto Follower</p>
                            <p class="mb-0 py-1 font-weight-500">Auto Commenter</p>
                            <p class="mb-0 py-1 font-weight-500">Auto Unfollow</p>
                            <p class="mb-0 py-1 font-weight-500">Hashtag Targeting</p>
                            <p class="mb-0 py-1 font-weight-500">User Targeting</p>
                            <p class="mb-0 py-1 font-weight-500">Manage Multiple Accounts</p>
                        </div>

                        <form id="weekly" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"/>
                            <input type="hidden" name="cmd" value="_xclick-subscriptions"/>
                            <input type="hidden" name="business" value="WPQBZJ7T9RNLA"/>
                            <input type="hidden" name="lc" value="GB"/>
                            <input type="hidden" name="item_name" value="Instamation Weekly"/>
                            <input type="hidden" name="item_number" value="WEEK"/>
                            <input type="hidden" name="no_note" value="1"/>
                            <input type="hidden" name="no_shipping" value="1"/>
                            <input type="hidden" name="src" value="1"/>
                            <input type="hidden" name="a3" value="10.00"/>
                            <input type="hidden" name="p3" value="1"/>
                            <input type="hidden" name="t3" value="M"/>
                            <input type="hidden" name="currency_code" value="USD"/>
                            <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted"/>
                            <input type="hidden" name="return" th:value="${'https://insta-mation.com/pricing/success?type=WEEK&account_id=' + account.id}"/>
                            <button id="weekly-button" type="submit" class="btn btn-primary font-weight-500 btn-block py-2">Upgrade Now</button>
                        </form>

                    </div>
                </div>

        </div>

        <div class="col-12 col-lg-6 mb-5">

                <div class="box bg-light shadow-sm" style="border: 1px solid #72b8ff!important">

                    <div class="p-3 border-bottom ">
                        <p class="text-center mb-0 font-weight-500 text-success">30 Days</p>
                        <h2 class="text-success">$20/month</h2>
                    </div>


                    <div class="bg-white text-center pb-4 px-4">
                        <div class="py-3">
                            <p class="mb-0 py-1 font-weight-500">3 day free trial</p>
                            <p class="mb-0 py-1 font-weight-500">Unlimited Actions</p>
                            <p class="mb-0 py-1 font-weight-500">Auto Liker</p>
                            <p class="mb-0 py-1 font-weight-500">Auto Follower</p>
                            <p class="mb-0 py-1 font-weight-500">Auto Commenter</p>
                            <p class="mb-0 py-1 font-weight-500">Auto Unfollow</p>
                            <p class="mb-0 py-1 font-weight-500">Hashtag Targeting</p>
                            <p class="mb-0 py-1 font-weight-500">User Targeting</p>
                            <p class="mb-0 py-1 font-weight-500">Manage Multiple Accounts</p>
                        </div>

                        <form id="monthly" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"/>
                        <input type="hidden" name="cmd" value="_xclick-subscriptions"/>
                        <input type="hidden" name="business" value="WPQBZJ7T9RNLA"/>
                        <input type="hidden" name="lc" value="GB"/>
                        <input type="hidden" name="item_name" value="Instamation Monthly"/>
                        <input type="hidden" name="item_number" value="MONTH"/>
                        <input type="hidden" name="no_note" value="1"/>
                        <input type="hidden" name="no_shipping" value="1"/>
                        <input type="hidden" name="src" value="1"/>
                        <input type="hidden" name="a3" value="20.00"/>
                        <input type="hidden" name="p3" value="1"/>
                        <input type="hidden" name="t3" value="M"/>
                        <input type="hidden" name="currency_code" value="USD"/>
                        <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted"/>
                        <input type="hidden" name="return" th:value="${'https://insta-mation.com/pricing/success?type=MONTH&account_id=' + account.id}"/>
                        <button type="submit" class="btn btn-success font-weight-500 btn-block py-2">Upgrade Now</button>
                        </form>

                    </div>
                </div>

        </div>

    </div>
</div>


<!--#############################################FOOTER#############################################-->

<footer th:fragment="footer" class="py-5 bg-light border-top shadow-sm">
    <div th:replace="layouts/scripts :: bootstrap"></div>
    <p class="text-center text-secondary mb-0">© Copyright 2018 - Instamation</p>
    <div class="text-center">
        <a th:href="@{/terms}" class="text-dark">Terms</a>
        <span class="px-2">•</span>
        <a th:href="@{/faq}" class="text-dark">FAQ</a>
        <span class="px-2">•</span>
        <a th:href="@{/contact}" class="text-dark">Contact</a>
        <span class="px-2">•</span>
        <a th:href="@{/privacy}" class="text-dark">Privacy</a>
    </div>
    <div class="py-2">
        <br/>
    </div>
</footer>

<!--#############################################ALERT#############################################-->

<div th:if="*{alert.status != null}" th:fragment="alert" th:object="${alert}" class="alert alert-dismissible fade show text-center mb-0" th:classappend="*{status.type}"  role="alert">
    <span th:text="*{message}">message</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>




</body>

</html>