<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/layout :: head('Contact Us')"></head>

<body>
<div th:replace="layouts/layout :: alert"></div>
<div th:replace="layouts/layout :: navigation-in"></div>
<div th:replace="layouts/layout :: navigation-out"></div>


<div class="container mt-4 mb-5 box py-5">
    <h2 class="text-center mb-4">Admin</h2>

    <p th:each="driver : ${drivers}" th:text="${driver.key}"></p>

</div>


<footer th:replace="layouts/layout :: footer"></footer>


</body>
</html>