<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/layout :: head('Sign Up')"></head>

<body style="min-height:1000px">
<div th:replace="layouts/layout :: alert"></div>

<div class="text-center mt-4">
    <a th:href="@{/}">
        <img th:src="@{/assets/images/logo-white.png}" class="img-fluid" style="max-height: 30px;" alt="">
    </a>
</div>

<div id="login" class="container mt-4 mb-3 box py-5 shadow text-center px-3 px-lg-5">

    <div class="text-center">

        <h2 class="mb-4">Reset Password</h2>

        <form th:action="@{/recovery-success}" th:object="${user}" method="post" class="login">

            <div class="form-group">
                <input type="email" th:field="*{username}" class="form-control" placeholder="Email Address"/>
            </div>

            <button type="submit" class="btn-lg btn-primary w-100 mb-3">Reset my password</button>

        </form>

    </div>

</div>

<div class="text-white text-center ">
    <p class="mb-1 text-white">Already have an account?
        <a class="login-text font-weight-bold" th:href="@{/login}">Log In</a>
    </p>

</div>


</body>
</html>