<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layouts/layout :: head('Automatically Grow your Instagram Followers')"></head>

<body>
<div th:replace="layouts/layout :: alert"></div>
<div th:replace="layouts/layout :: navigation-out"></div>

<div class="container-fluid mt-4 mb-3 box py-5 shadow text-center">

    <h2 class="mb-4">Grow your Instagram Followers Automatically</h2>

    <p class="mb-1 font-weight-500">Grow your influence, followers, likes and comments using our Advanced, specifically targeted marketing system.</p>
    <p class="mb-4">Automate your activity on instagram and target your chosen market.</p>

    <div>
        <a th:href="@{/signup}" class="btn btn-success px-5 py-2 font-weight-500" role="button">Start your FREE Trial</a>
    </div>

</div>

<div class="container-fluid mt-4 mb-3 box py-5 shadow text-center">

    <div class="container">
        <h2 class="mb-4">Why we are the best service for Instagram automation</h2>

        <p class="mb-1 font-weight-500 mb-5">Accelerate your life on Instagram for more targeted likes, comments and follows</p>

        <div class="row">

            <div class="col-12 col-md-6 col-lg-4">
                <p class="font-weight-500 text-left mb-2">Automate everything</p>
                <p class="text-left">You can easily automate your liking, commenting and following activities based on specific hashtags and usernames, as well as unfollow users from different sources.</p>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <p class="font-weight-500 text-left mb-2">3 day free trial</p>
                <p class="text-left">We're confident that you'll love our service. Try us out FREE for 3 days and you'll see why Instagrammers continue to use our service.</p>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <p class="font-weight-500 text-left mb-2">Mobile friendly</p>
                <p class="text-left">We've optimized our website to work seamlessly on all mobile devices. Now you can access and manage your activity whenever you want, wherever you are.</p>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <p class="font-weight-500 text-left mb-2">No downloads</p>
                <p class="text-left">You can use our service straight from the web on all browsers. You don't need to download or install anything to enjoy our service, which is why we are the safest Instagram bot available.</p>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <p class="font-weight-500 text-left mb-2">Start and close</p>
                <p class="text-left">Each account conveniently works on our servers, which means you can feel free to logout, change accounts, or even close your browser window after you start your activity.</p>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <p class="font-weight-500 text-left mb-2">Safe to use</p>
                <p class="text-left">Our one of a kind service will automatically reduce its speed to ensure that your account is safe from hitting Instagram limits and we offer multiple speed settings for more advanced users.</p>
            </div>
        </div>

    </div>
</div>

<div th:replace="layouts/layout :: pricing"></div>

<div class="container-fluid mt-4 mb-3 box py-5 shadow text-center">

    <div class="container">
        <h2 class="mb-4">Getting started is easy!</h2>

        <p class="mb-1 font-weight-500 mb-5">Accelerate your life on Instagram for more targeted likes, comments and follows</p>

        <div class="row mb-4">

            <div class="col-12 col-md-4 mb-3">
                <img th:src="@{/assets/images/register.png}" class="img-fluid mb-3 started" alt="">
                <p class="font-weight-500 mb-2">Sign Up</p>
                <p class="">Easily signup and add your Instagram account. We take your privacy very seriously.</p>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <img th:src="@{/assets/images/target.png}" class="img-fluid mb-3 started" alt="">
                <p class="font-weight-500 mb-2">Set</p>
                <p class="">Add target and customize your activity based on your need.</p>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <img th:src="@{/assets/images/smile.png}" class="img-fluid mb-3 started" alt="">
                <p class="font-weight-500 mb-2">Enjoy</p>
                <p class="">Relax and enjoy your new Instagram followers every day.</p>
            </div>

        </div>

        <a th:href="@{/signup}" class="btn btn-success px-5 py-2 font-weight-500" role="button">Start your FREE Trial</a>


    </div>
</div>


<footer th:replace="layouts/layout :: footer"></footer>


</body>
</html>